appdirs==1.4.4
beautifulsoup4==4.12.2
bottle==0.12.25
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
cssselect==1.2.0
dateparser==1.1.8
demjson3==3.0.6
facebook-scraper==0.2.59
fake-useragent==1.2.1
feedparser==6.0.10
idna==3.4
importlib-metadata==6.8.0
lxml==4.9.3
parse==1.19.1
pyee==8.2.2
pyppeteer==1.0.2
pyquery==2.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
regex==2023.8.8
requests==2.31.0
requests-html==0.10.0
schedule==1.2.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.5
tinydb==4.8.0
tqdm==4.66.1
tzlocal==5.0.1
urllib3==1.26.16
w3lib==2.1.2
websockets==10.4
zipp==3.16.2
