beautifulsoup4==4.15.0
bottle==0.13.4
bs4==0.0.2
certifi==2026.5.20
charset-normalizer==3.4.7
dotenv==0.9.9
feedparser==6.0.12
idna==3.18
lxml==6.1.1
python-dotenv==1.2.2
requests==2.34.2
schedule==1.2.2
sgmllib3k==1.0.0
soupsieve==2.8.4
tinydb==4.8.2
typing_extensions==4.15.0
urllib3==2.7.0
